Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-SocketIO
Flask-Cors
psycopg2-binary
python-dotenv
openai
a2a-sdk
aioconsole
fastmcp
fqdn
google-adk
google-cloud-logging
google-generativeai
jupyterlab
langchain
networkx
sqlmodel
weave
webcolors
wikipedia
